<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shop</title>
  <link href="/stylesheet.css" rel="stylesheet" type="text/css" >
</head>
<body>
  <h1>SHOP</h1>

  <div class="header">
    <button type="button">ONLY AVAILABLE</button>
    <button type="button">CHEAPEST FIRST</button>
    <button type="button">CONTAINS NIKE</button>
    <button type="button">AVERAGE STOCK</button>
    <button type="button">MOST EXPENSIVE AVAILABLE</button>
  </div>

  <label for="search">Search for</label>
  <input type="search" id="search" name="search" placeholder="search">

  <table>
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity of stock</th>
    </thead>
  </table>

</body>
</html>