<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>feed</title>
</head>
<body>
<div class="header">
  <a th:href="@{/fox/login}">LOGIN</a>
  <a th:href="@{/fox/home(name= ${name})}">HOME</a>
  <a th:href="@{/fox/feed(name=${name})}">FEED</a>
  <a th:href="@{/fox/trick(name=${name})}">TRAIN</a>
</div>
<form th:action="@{/fox/feed(name=${name})}" th:method="post">
  <label for="food">Food</label>
  <select id="food" name="eat">
    <option th:each="food : ${foodlist}"
            th:text="${food}" th:value="${food}"></option>
  </select>
  <label for="drink">Drink</label>
  <select id="drink" name="drink">
    <option th:each="drink : ${drinklist}"
            th:text="${drink}" th:value="${drink}"></option>
  </select>
  <button type="submit">Change</button>
</form>
</body>
</html>