<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>todo list</title>
</head>
<body>
<h1>Todos for today:</h1>
<a th:href="@{/todo/add}">Add task</a>
<table>
  <thead>
  <th>ID</th>
  <th>ACTION</th>
  <th>DONE</th>
  <th>URGENT</th>
  </thead>
  <tr th:each="todo : ${todos}">
    <td th:text="${todo.getId()}"></td>
    <td th:text="${todo.getTitle()}"></td>
    <td th:text="${todo.isDone()}"></td>
    <td th:text="${todo.isUrgent()}"></td>
    <td><a th:href="|@{/todo/delete}?id=${todo.id}|">delete</a></td>
    <td><a th:href="|@{/todo/edit}?id=${todo.id}|">edit</a></td>
  </tr>
</table>
</body>
</html>